<h1 class="mt-5">
    Selectores anidados
</h1>
<hr>

<form [formGroup]="miForm" (ngSubmit)="guardar()">

    <!-- Region -->
    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Continente:</label>
            <select class="form-control"
            formControlName='region'>
                <option value=""> -- Seleccione continente -- </option>
                <option 
                    *ngFor="let item of regiones"
                    [value]="item | lowercase"> {{item}} </option>
            </select>
        </div>
    </div>

    <!-- Paises -->
    <div class="row mb-3" *ngIf="paises.length !== 0">
        <div class="col">
            <label class="form-label">Pais:</label>
            <select class="form-control"
            formControlName='pais'>
                <option value=""> -- Seleccione pais -- </option>
                <option 
                    *ngFor="let item of paises"
                    [value]="item.alpha3Code | lowercase"> {{item.name}} </option>
            </select>
        </div>
    </div>

    <!-- Frontera -->
    <div class="row mb-3" *ngIf="fronteras.length !== 0">
        <div class="col">
            <label class="form-label">Frontera:</label>
            <select class="form-control"
            formControlName='frontera'>
                <option value=""> -- Seleccione frontera -- </option>
                <option 
                    *ngFor="let item of fronteras"
                    [value]="item | lowercase"> {{item}} </option>
            </select>
        </div>
    </div>

    <!-- cargando... -->
    <div class="row" *ngIf="cargando">
        <div class="col">
            <div class="alert alert-primary">
                Cargando...
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary float-end">
                Seleccionar
            </button>
        </div>
    </div>

</form>

<h3>Form</h3>
<pre>
    Valid: {{miForm.valid | json}}
</pre>

<pre>
    VALUE: {{miForm.value | json}}
</pre>
