<h2>Reactivos switches</h2>
<hr>

<form [formGroup]='miForm' (ngSubmit)="guardar()">

    <!-- radios -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" >Genero</label>
        <div class="col-sm-9">
            <div class="form-check">
                <input 
                    class="form-check-input" 
                    type="radio" 
                    value="M"
                    formControlName="genero"
                    id="radioMasculino">
                <label class="form-check-label" for="radioMasculino">
                  Masculino
                </label>
              </div>
              <div class="form-check">
                <input 
                    class="form-check-input" 
                    type="radio" 
                    value="F"
                    formControlName="genero"
                    id="radioFemenino">
                <label class="form-check-label" for="radioFemenino">
                  Femenino
                </label>
              </div>
        </div>
    </div>


    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" >Notificacion</label>
        <div class="col-sm-9">
            <div class="form-check mb-2 form-switch">
                <input 
                    class="form-check-input" 
                    type="checkbox" 
                    formControlName="noti"
                    id="flexSwitchCheckChecked"
                    >
                <label class="form-check-label" for="flexSwitchCheckChecked">Recibir notificaciones</label>
            </div>
        </div>
    </div>

    <!-- switches -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" ></label>
        <div class="col-sm-9">
            <div class="form-check">
                <input 
                    class="form-check-input"
                    type="checkbox"
                    formControlName="terminos"
                    value=""
                    id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Terminos y condicion es
               </label>
              </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary float-end">
                Guardar
            </button>
        </div>
    </div>

</form>

<span>
    <pre>
        {{ miForm.value | json }}
    </pre>
    <pre>
        {{ miForm.valid }}
    </pre>
</span>
