<h1>Por país</h1>
<hr>

<div class="row">
    <div class="col">
        <app-paisinput
        (onEnter)=" buscar($event) "
        (onDebounce)=" sugerencias($event) "
        placeholder="Buscar país"
        >
        </app-paisinput>
    </div>
</div>

<ul *ngIf="showSugest" class="list-group">
    <li *ngFor="let item of sugests" class="list-group-item list-group-item-action">
        <a class="nav-link" [routerLink]="['/pais',item.alpha2Code]">
            {{ item.name }}
        </a>
    </li>

    <li
        (click)="buscarTermino(termino)"
        class="list-group-item list-group-item-action">
        <a class="nav-link">
            Buscar: "{{ termino }}"
        </a>
    </li>
</ul>

<hr>

<div *ngIf="errorExist" class="alert alert-danger">
    No se encontro...
</div>

<div *ngIf="!errorExist" class="row">
    <div class="col">
        <app-paistabla [paises]="paises"></app-paistabla>
    </div>
</div>