<p>error-page works!</p>

<ul>
    <li>
        <a routerLink="/auth/login">
            Login
        </a>        
    </li>
    <li>
        <a routerLink="/auth/registro">
            Registro
        </a>
    </li>
    <li>
        <a routerLink="/heroes/listado">
            Listado heroes
        </a>
    </li>
    <li>
        <a routerLink="/heroes/agregar">
            Agregar heroes
        </a>
    </li>
    <li>
        <a routerLink="/heroes/editar/lala">
            Editar lala heroes
        </a>
    </li>
    <li>
        <a routerLink="/heroes/buscar">
            Buscar heroes
        </a>
    </li>
    <li>
        <a routerLink="/heroes/lalala">
            Heore y id
        </a>
    </li>
    
</ul>
